<nav class="container">
    <div class="col-12">
        {{#if isUserLogged }}
        {{> navbarLogged }}
        {{else}}
        {{> navbarUnlogged }}
        {{/if}}
    </div>
</nav>

<div class="container">
<div>
    <img src="/img/carte-france.png"/>
</div>
</div>


<script src="cmap/france-map.js"></script>
<script>francefree();</script>