<form action="/login" method="POST">
    <input type="email" placeholder="e-mail" name="email" />
    <input type="password" placeholder="Password" name="password" />
    <button type="submit">Submit</button>
</form>