<form action='/signup' method='POST'>

    <h3> Username :</h3>
    <input type="text" placeholder="Username" name="username" />

    <h3> E-mail : </h3>
    <input type="email" placeholder="e-mail" name="email" />

    <h3> Password : </h3>
    <input type="password" placeholder="Password" name="password" />

    <input type="password" placeholder="Confirm password" name="passwordConfirm" />

    <h3> First name : </h3>
    <input type="text" placeholder="First name" name="firstName" />

    <h3> Surname : </h3>
    <input type="text" placeholder="Surname" name="surname" />

    <h3> Birthday : </h3>
    <input id="date" type="date" value="2020-06-01" name="birthDate">

    <div>
        <button type="submit">Submit</button>
    </div>
</form>