<nav style="background-color: pink">

    <h3 style='color: white '>
        <a href="/signup"> Signup </a>
    </h3>

    <h3 style='color: white'>
        <a href="/login">Login </a>
    </h3>

</nav>

</br>

<ul>
    <li>
        <a href='/paris'> Paris </a>
    </li>

    </br>

    <li>
        <a href='/lyon'> Lyon </a>
    </li>

    </br>

    <li>
        <a href='/marseille'> Marseille </a>
    </li>
</ul>>