<nav class="container">
    <div class="col-12">
        {{#if isUserLogged }}
        {{> navbarLogged }}
        {{else}}
        {{> navbarUnlogged }}
        {{/if}}
    </div>
</nav>

<div class="container">
    <ul class="col-12
    ">
        <li>
            <a href='/paris'> Paris </a>
        </li>

        </br>

        <li>
            <a href='/lyon'> Lyon </a>
        </li>

        </br>

        <li>
            <a href='/marseille'> Marseille </a>
        </li>
    </ul>
</div>