<nav class="container">
    <div class="col-12">
        {{#if isUserLogged }}
        {{> navbarLogged }}
        {{else}}
        {{> navbarUnlogged }}
        {{/if}}
    </div>
</nav>

<div class="container">
    <div class="col-12"> 
        <p>Hello {{firstName}} {{surname}}, you're connected </p>

{{!--         <h1> User : {{username}}</h1>
 --}}    </div>
</div>