<form action='/signup' method='POST'>

<h1 style="color: pink"> Signup : </h1>
    <h3 style="color: blue"> Username :</h3>
    <input type="text" placeholder="Username" name="username" />

    <h3 style="color: blue"> Password : </h3>
    <input type="password" placeholder="Password" name="password" />

    <h3 style="color: blue"> First name : </h3>
    <input type="text" placeholder="First name" name="firstName" />

    <h3 style="color: blue"> Surname : </h3>
    <input type="text" placeholder="Surname" name="surname" />

    <div>
        <button type="submit"> Submit</button>
    </div>
</form>